.errorBorder {
  border-color: $borderNegative !important;
  border-width: 2px !important;
}

.errorMsg {
  color: $negative;
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;
  margin-left: 12px;
}