.input {
  width: 328px;
  border: 2px solid $borderOpaque;
  border-radius: 8px;
  padding: 12px 12px 12px 18px;
  transition: border-color .2s;
}

.focus {
  border-color: $borderSelected;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 500;
}

.label {
  color: $contentSecondry;
  font-size: 12px;
  line-height: 18px;
}

.row {
  display: flex;
  height: 24px;
  align-items: center;

  input {
    flex: 1;
    color:$contentPrimary;
    background: $backgroundPrimary;
    border: 0;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    &:focus {
      border: 0;
      outline: none;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active  {
        box-shadow: 0 0 0 30px $backgroundPrimary inset !important;
    }
    &:-webkit-autofill {
      -webkit-text-fill-color: $contentPrimary !important;
    }
    &::placeholder {
      color: $contentSecondry;
    }
  }
}

.clear {
  font-size: 24px;
  cursor: pointer;
  color: $contentSecondry;
}

.disabled, .label input{
  background: $backgroundPrimary;
  color: $contentStateDisabled;
  cursor: not-allowed;
  -webkit-text-fill-color: $contentStateDisabled; /* required on iOS */
  opacity: 1; /* required on iOS */
}
