.wrap {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 10px 12px 10px;
  background: $backgroundPrimary;
  @include responsive(lg) {
    border-left: 1px solid $borderOpaque;
    border-right: 1px solid $borderOpaque;
  }
}

.bgLight {
  background: $backgroundPrimary;
}

.bgGray {
  background: $backgroundSecondary;
}

.avatarWrap, .login {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.avatarWrap {
  margin-top: 12px;
  >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
      vertical-align: middle;
      font-size: 28px; // 28+8=36
      color: $contentPrimary;
      cursor: pointer;
      padding: 4px;
      margin-right: 12px;
      &:hover {
        background: $borderOpaque;
        border-radius: 50%;
      }
    }
  }
  img {
    border-radius: 50%;
  }
}

.avatar {
  height: 40px;
}

.login {
  span {
    line-height: 32px;
    color: $contentPrimary;
    padding: 4px 10px;
    background: $backgroundSecondary;
    border-radius: 8px;
    font-size: 14px;
    // margin-top: 12px;
    &:hover {
      color: $accent;
    }
  }
}

.noTopBar {
  max-width: 840px;
  margin: 0 auto;
  min-height: 100vh;
  border-left: 1px solid $borderOpaque;
  border-right: 1px solid $borderOpaque;
  background: $backgroundPrimary;
}

.notInit {
  max-width: 840px;
  margin: 0 auto;
  // min-height: calc(100vh - 12px);
  min-height: 100vh;
  background: $backgroundPrimary;
}

.loading {
  padding-top: 64px;
  z-index: 99;
}

.tempSlot {
  min-height: calc(100vh - 110px);
  background: $backgroundPrimary;
}
