.main {
  min-height: calc(100vh - 99px);
}

.avatar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 12px;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
      vertical-align: middle;
      font-size: 28px;
      color: $contentPrimary;
      cursor: pointer;
      padding: 4px;
      margin-right: 12px;
      &:hover {
        background: $borderOpaque;
        border-radius: 50%;
      }
    }
    img {
      border-radius: 50%;
    }
  }
}

.loading {
  margin-top: 25%;
}

.btnLoading {
  padding: 1px 18px;
  div {
    border-width: 2px;
  }
}

.empty {
  text-align: center;
  padding: 0 12px;
  padding-bottom: 18px;
  margin-top: 48px;
  >i {
    font-size: 68px;
    text-align: center;
    color: $contentSecondry;
    padding-left: 6px; // more visual center
  }
  >p {
    font-size: 16px;
    color: $contentPrimary;
  }
}

.sectionTitle {
  color: $contentPrimary;
  font-weight: bold;
  font-size: 18px;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    span {
      color: $contentPrimary;
    }
    &:nth-child(2) {
      padding: 4px 0;
    }
  }
}
.increaseMargin {
  margin-top: 10px;
}
.renew {
  span {
    color: $notice !important;
  }
}

.feedDesc {
  line-height: 18px;
  span {
    color: $contentPrimary;
    font-size: 14px;
  }
}

.button {
  background: $backgroundSecondary;
  border: none;
  padding: 6px 8px;
  border-radius: 8px;
  color: $contentPrimary;
  font-size: 14px;
  cursor: pointer;
}

.buttonAccent {
  background: $backgroundLightAccent;
}

.copy {
  margin-top: 12px;
  span {
    &:first-child {
      color: $contentPrimary;
      font-size: 14px;
    }
    i {
      color: $contentSecondry;
      vertical-align: middle;
    }
  }
}
