.switch {
  position: relative;
  width: 52px;
  height: 25px;
  border-radius: 31px;
  cursor: pointer;
}

.checked {
  background: $contentPrimary;
  .btn {
    right: 2px;
  }
}
.notChecked {
  background: $backgroundSecondary;
  .btn {
    left: 2px;
  }
}

.disabled {
  cursor: not-allowed;
}

.btn {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: $backgroundPrimary;
  position: absolute;
  top: 2px;
  .loading_icon {
    position: absolute;
    left: 5px;
    top: 5px;
    animation: switchRotate 1s linear infinite;
    @keyframes switchRotate {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}