.main {
  max-width: 840px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 10px 12px 10px;
  border-left: 1px solid $borderOpaque;
  border-right: 1px solid $borderOpaque;
  background: $backgroundPrimary;
}

.avatar, .login {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  margin-top: 6px;
  img {
    border-radius: 50%;
  }
}

.login {
  span {
    line-height: 32px;
    color: $contentPrimary;
    padding: 4px 10px;
    background: $backgroundSecondary;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 12px;
    &:hover {
      color: $accent;
    }
  }
}

.search {
  margin-top: 46px;
  @include responsive(lg) {
    margin-top: 64px;
  }
  display: flex;
}

.searchIcon {
  color: $borderSelected;
  font-size: 18px;
  margin-right: 18px;
}

.input {
  margin: 0 auto;
  flex: 1;
  max-width: 520px;
}

.options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $contentPrimary;
  margin-top: 46px;
  @include responsive(xs) {
    margin-top: 32px;
  }
  >span {
    margin-right: 12px;
    font-size: 16px;
    color: $contentPrimary;
  }
  div {
    padding: 4px 12px;
    height: 45px;
    border: 2px solid $borderOpaque;
    border-radius: 8px;
    line-height: 33px;
    cursor: pointer;
    font-size: 14px;
    color: $accent;
    .curIcon {
      vertical-align: middle;
      margin-right: 8px;
      margin-left: 4px;
      line-height: 33px;
      font-size: 16px;
    }
    .triangle {
      vertical-align: middle;
      font-size: 12px;
      margin-left: 18px;
      transform: rotate(180deg);
      color: $contentSecondry;
    }
  }
}

.optionsActive {
  border: 2px solid $borderSelected !important;
}

.triangleActive {
  transform: rotate(0deg) !important;
  color: $borderSelected !important;
}

.loadingWrap {
  max-width: 520px;
  margin: 24px auto;
  padding: 16px;
  border-radius: 8px;
  background: $backgroundSecondary;
  display: flex;
  align-items: center;
  .loading {
    margin-left: 12px;
    margin-right: 18px;
  }
  .loadingHint {
    font-size: 14px;
    color: $contentSecondry;
  }
}

.feedInfo {
  max-width: 520px;
  margin: 24px auto 8px auto;
  padding: 16px;
  border-radius: 8px;
  background: $backgroundSecondary;
  .feedDesc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-weight: bold;
      margin: 4px 0;
      color: $contentPrimary;
      &:nth-child(2) {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        border-left: 2px solid $borderSelected;
        padding: 6px 8px;
        background: $backgroundTertiary;
        border-radius: 0 6px 6px 0;
        margin-top: 10px;
      }
    }
  }
  button {
    background: $accent;
    border: none;
    padding: 8px 16px;
    margin-left: 14px;
    border-radius: 8px;
    color: $backgroundPrimary;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
  }
}

.errorInfo {
  max-width: 520px;
  margin: 24px auto 8px auto;
  padding: 16px;
  border-radius: 8px;
  background: $backgroundSecondary;
  display: flex;
  align-items: center;
  >i {
    color: $notice;
    font-size: 21px;
    margin-right: 8px;
  }
  >p {
    color: $contentPrimary;
    font-size: 14px;
  }
}

.feedPrice {
  max-width: 520px;
  margin: 0 auto;
  padding: 0 16px;
  >p {
    color: $contentSecondry;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
  }
  div {
    display: flex;
    align-items: center;
    p {
      font-size: 12px;
      color: $contentSecondry;
    }
    .divider {
      border-left: 1px solid $contentPrimary;
      height: 14px;
      margin: 0 10px;
    }
  }
}

