.overlay {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 840px;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.07);
  overflow-x: auto;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .sheet {
    background-color: $backgroundPrimary;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 2px 20px $shadow;
    .sheetTitle {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      margin-bottom: 14px;
      align-items: center;
      div {
        font-size: 14px;
        margin: 4px 0;
        color: $contentPrimary;
        &:first-child {
          margin-left: 24px;
          cursor: pointer;
          &:hover {
            font-weight: bold;
          }
        }
        &:nth-child(2) {
          font-size: 18px;
          font-weight: bold;
        }
        &:last-child {
          margin-right: 24px;
          color: $accent;
          cursor: pointer;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}
