.details {
  label {
    display: inline-block;
    margin: 6px 0 4px 0;
    color: $contentSecondry;
  }
}

.created {
  font-size: 14px;
  color: $contentSecondry;
  margin-top: 12px;
  >span {
    color: $contentPrimary;
  }
}

.modify {

}

.editBtn {
  bottom: 84px;
  right: 12px;
  z-index: 99;
}

.saveBtn {
  bottom: 32px;
  right: 12px;
  z-index: 99;
}

.success {
  display: flex;
  align-items: center;
  color: $positive;
  font-size: 14px;
  font-weight: bold;
  >div {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $positive;
    margin-right: 4px;
  }
}

.failed {
  display: flex;
  align-items: center;
  color: $negative;
  font-size: 14px;
  font-weight: bold;
  >div {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $negative;
    margin-right: 4px;
  }
}

.logs {
  >p {
    margin: 4px 0;
  }
}

.error {
  color: $negative;
  font-size: 12px;
  margin-top: 2px;
}