.bar {
  padding-top: 12px;
  padding-bottom: 6px;
  border: 1px solid blue;
  .back {
    transform: rotate(180deg);
    font-size: 24px;
    padding: 4px;
    float: left;
    cursor: pointer;
    color: $contentPrimary;
    &:hover {
      background: $borderOpaque;
      border-radius: 50%;
    }
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      color: $contentPrimary;
      font-weight: bold;
      font-size: 15px;
    }
  }
  .iconPadding {
    padding-right: 32px;
  }
}