.loading {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    // display: inline-block;
    border: 3px solid $accent;
    border-left-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}