.Search {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 13px 16px 13px 21px;
  border: 1px solid gray;
  border-radius: 8px;
  transition: border-color 0.2s;

  &-focus {
    border-color: blue;
  }

  &-icon {
    margin-right: 10px;
    color: darkgray;
  }
  &-input {
    flex: 1;
    line-height: 24px;
    color: black;
    background: white;
    &::placeholder {
      color: lightgray;
    }
  }
  .clear-icon {
    font-size: 24px;
    cursor: pointer;
    color: lightgray;
  }
}
