.bottomNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 840px;
  left: calc(50vw - 420px);
  background-color: $backgroundPrimary;

  @include responsive(xs) {
    left: 0;
  }

  @include responsive(lg) {
    border-left: 1px solid $borderOpaque;
    border-right: 1px solid $borderOpaque;
  }

  > div {
    display: flex;
    justify-content: space-around;
  }
}

.default {
  cursor: pointer;
  text-align: center;
  color: $contentSecondry;
  > i {
    font-size: 28px;
    padding-top: 6px;
  }
  > p {
    font-size: 14px;
    padding-bottom: 6px;
  }
  &:hover {
    color: $contentPrimary;
  }
}

.active {
  text-align: center;
  color: $contentPrimary !important;
  > i {
    font-size: 28px;
    padding-top: 6px;
  }
  > p {
    font-size: 14px;
    padding-bottom: 6px;
  }
}
