.indicator {
  height: 2px;
  background: $contentPrimary;
  transition: transform .15s;
}

.panesOuter {
  overflow: hidden;
}

.panes {
  display: flex;
  padding-top: 18px;
  transition: transform .2s;
}

.pane {
  flex: 1;
  overflow: hidden;

}

.paneUnactive {
  height: 0;
}

.tabBarExtra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.tabBarOuter {
  flex: 1;
}

.tabBar {
  display: flex;
}

.bar {
  display: inline-block;
  color: $contentSecondry;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  padding: 12px 8px;
  cursor: pointer;
  // border: 1px solid red;
  // text-align: center;
  // flex: 1;
}

.active {
  color: $contentPrimary;
}