.Button {
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  position: relative;
  @mixin largeLoding {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }
  @mixin smallLoading {
    padding: 7px 12px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
  }
  &.primary {
    background: $primary-blue;
    color: $button-white;
    border: none;
    &.large {
      width: 100%;
      padding-top: 15px;
      padding-bottom: 16px;
      border-radius: 8px;
      font-size: 14px;
      font-weight: bold;
      padding-left: 16px;
      padding-right: 16px;
      .loading_icon, .arrow_icon {
        @include largeLoding
      }
      .loading_icon {
        animation: loaderAni 0.8s linear infinite;
      }
    }
    &.small {
      @include smallLoading;
      .loading_icon {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        line-height: 34px;
        background: $primary-blue;
        border-radius: 8px;
        svg {
          animation: loaderAni2 0.8s linear infinite;
        }
      }
    }
  }
  &.secondary {
    border: 1px solid $line-3;
    color: $primary-blue;
    background: $surface;
    &.large {
      width: 100%;
      height: 52px;
      border-radius: 8px;
      font-size: 14px;
      font-weight: bold;
      .loading_icon, .arrow_icon {
        @include largeLoding
      }
      .loading_icon {
        animation: loaderAni 0.8s linear infinite;
      }
    }
    &.small {
      padding-left: 12px;
      padding-right: 12px;
      height: 32px;
      min-width: 76px;
      border-radius: 8px;
      font-size: 12px;
      font-weight: bold;
      .loading_icon {
        animation: loaderAni2 0.8s linear infinite;
      }
    }
    &:hover {
      background: rgba(70, 145, 235, 0.08);
    }
  }
  &.text {
    border: none;
    color: $primary-blue;
    padding: 7px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    background: $surface;
    &:hover {
      background: rgba(70, 145, 235, 0.08);
    }
    &:disabled {
      opacity: 1;
      cursor: not-allowed;
    }
  }
  &.floating {
    position: absolute;
    border: none;
    box-shadow: 0px 2px 8px $shadow;
    background: $primary-blue;
    color: $surface;
    padding: 13px 20px 14px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: bold;
  }
  &:active {
    opacity: 0.64;
  }
  &:disabled {
    opacity: 0.32;
    cursor: not-allowed;
  }
  &.loading {
    pointer-events: none;
  }
  .suffix, .prefix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .suffix {
    right: 16px;
  }
  .prefix {
    left: 16px;
  }
  @keyframes loaderAni2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes loaderAni {
    0% {
      transform: translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateY(-50%) rotate(360deg);
    }
  }
}
