.wrap {
  position: relative;
  display: inline-block;
  .children {
    outline: none;
  }
  .tooltip {
    position: absolute;
    padding: 6px 12px;
    border-radius: 4px;
    bottom: -8px;
    z-index: 99;
    &::before {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      top: 0;
      display: block;
    }
    &.dark {
      background: $backgroundSecondary;
      color: $contentPrimary;
      &::before {
        background: $backgroundSecondary;
      }
    }
    &.white {
      background: $backgroundPrimary;
      color: $contentPrimary;
      border: 1px solid $contentSecondry;
      &::before {
        display: none;
      }
    }
    &.top {
      left: 50%;
      transform: translate(-50%, -100%);
      &::before {
        left: 50%;
        top: 100%;
        transform: rotate(45deg) translate(-50%, -40%);
      }
    }
    &.center {
      left: 50%;
      transform: translate(-50%, 100%);
      &::before {
        left: 50%;
        transform: rotate(45deg) translate(-50%, 0);
      }
    }
    &.left {
      left: 0;
      transform: translate(-80%, 100%);
      &::before {
        right: 10px;
        transform: rotate(45deg) translate(-50%, 0);
      }
    }
    &.right {
      right: 0;
      transform: translate(calc(100% - 10px), 100%);
      &::before {
        left: 10px;
        transform: rotate(45deg) translate(-50%, 0);
      }
    }
  }
}
