.checkbox {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin: 6px 0;
}

.disabled {
  cursor: not-allowed;
  color: $contentStateDisabled !important;
}

.iconCheck {
  font-size: 18px;
  margin-right: 6px;
  vertical-align: sub;
  color: $contentSecondry;
}

.checked{
  color: $contentPrimary;
}

.group{
  .checkbox{
    display: inline-block;
    margin-right: 23px;
  }
}

.column{
  flex-direction: column;
  .checkbox{
    display: flex;
    margin: 12px 0;
  }
}
