:root {
  --primary: #00796B;
  --secondary: #8FE2B0;
  --accent: #1E88E5;
  --notice: #F57C00;
  --negative: #E57373;
  --positive: #36AF66;
  --shadow: rgba(30, 50, 70, 0.08);
  --mask: rgba(0, 0, 0, 0.7);
  --backgroundPrimary: #FFFFFF;
  --backgroundSecondary: #F4F6F7;
  --backgroundTertiary: #E6E9EC;
  --backgroundInversePrimary: #2A2D2F;
  --backgroundInverseSecondary: #464A4E;
  --contentPrimary: #2A2D2F;
  --contentSecondry: #8A929A;
  --contentTertiary: #AAB4BE;
  --contentInversePrimary: #FFFFFF;
  --contentInverseSecondary: #DFE2E6;
  --contentInverseTertiary: #C0C7CE;
  --borderOpaque: #E6E9EC;
  --borderTransparent: rgba(0, 0, 0, 0.08);
  --borderSelected: #2A2D2F;
  --borderInverseOpaque: #697076;
  --bordeInverserTransparent: rgba(0, 0, 0, 0.2);
  --borderInverseSelected: #FFFFFF;
  --backgroundStateDisabled: #F4F6F7;
  --backgroundOverlayDark: rgba(0, 0, 0, 0.3);
  --backgroundOverlayLight: rgba(0, 0, 0, 0.08);
  --backgroundAccent: #1E88E5;
  --backgroundNotice: #F57C00;
  --backgroundNegative: #E57373;
  --backgroundPositive: #36AF66;
  --backgroundLightAccent: #E3F2FD;
  --backgroundLightNotice: #FFF3E0;
  --backgroundLightNegative: #FFEBEE;
  --backgroundLightPositive: #E6F7EC;
  --backgroundAlwaysDark: #2A2D2F;
  --backgroundAlwaysLight: #FFFFFF;
  --contentStateDisabled: #AAB4BE;
  --contentAlwaysDark: #2A2D2F;
  --contentAlwaysLight: #FFFFFF;
  --contentAccent: #1E88E5;
  --contentNotice: #F57C00;
  --contentNegative: #E57373;
  --contentPositive: #36AF66;
  --borderAccent: #1E88E5;
  --borderLightAccent: #90CAF9;
  --borderNotice: #FFCC80;
  --borderNegative: #EF9A9A;
  --borderPositive: #8FE2B0;
}

[data-theme='dark'] {
  --primary: #36ACA0;
  --secondary: #0D796A;
  --accent: #38A1F5;
  --notice: #FFA117;
  --negative: #AE352D;
  --positive: #50AA78;
  --shadow: rgba(255, 255, 255, 0.24);
  --mask: rgba(0, 0, 0, 0.7);
  --backgroundPrimary: #080808;
  --backgroundSecondary: #1E1E1E;
  --backgroundTertiary: #2C2C2C;
  --backgroundInversePrimary: #EFEFEF;
  --backgroundInverseSecondary: #C8C8C8;
  --contentPrimary: #EFEFEF;
  --contentSecondry: #7C7C7C;
  --contentTertiary: #5C5C5C;
  --contentInversePrimary: #080808;
  --contentInverseSecondary: #393939;
  --contentInverseTertiary: #494949;
  --borderOpaque: #2C2C2C;
  --borderTransparent: rgba(255, 255, 255, 0.08);
  --borderSelected: #EFEFEF;
  --borderInverseOpaque: #A2A2A2;
  --bordeInverserTransparent: rgba(255, 255, 255, 0.2);
  --borderInverseSelected: #080808;
  --backgroundStateDisabled: #1E1E1E;
  --backgroundOverlayDark: rgba(255, 255, 255, 0.3);
  --backgroundOverlayLight: rgba(255, 255, 255, 0.08);
  --backgroundAccent: #38A1F5;
  --backgroundNotice: #FFA117;
  --backgroundNegative: #AE352D;
  --backgroundPositive: #50AA78;
  --backgroundLightAccent: #1B2A37;
  --backgroundLightNotice: #382B17;
  --backgroundLightNegative: #372120;
  --backgroundLightPositive: #1F3025;
  --backgroundAlwaysDark: #080808;
  --backgroundAlwaysLight: #EFEFEF;
  --contentStateDisabled: #5C5C5C;
  --contentAlwaysDark: #080808;
  --contentAlwaysLight: #EFEFEF;
  --contentAccent: #38A1F5;
  --contentNotice: #FFA117;
  --contentNegative: #AE352D;
  --contentPositive: #50AA78;
  --borderAccent: #38A1F5;
  --borderLightAccent: #1D5684;
  --borderNotice: #8A570D;
  --borderNegative: #852E27;
  --borderPositive: #2A6A43;
}